input[type="radio"] {
	margin-right: .25em;
}

input[type="button"] {
	border-radius: 3px;
	border: none;
	padding: .25em .5em;
	box-shadow: 0 1px rgba(0,0,0,.3);
	font-size: 1em;
}

input[type="button"]:focus {
	outline: none;
}

#qbtn {
	background-color: #4FA7BF;
}

#bbtn {
	background-color: #CBDBDF;
}

.quiz-content {
	color: #434343;
	width: 1000px;
	margin: 0 auto;
	background: #e1e1e1;
	padding: 1em 0 2em 0;
	border-radius: 6px;
}

div[data-question] {
	font-size: 2em;
	border-bottom: 1px dotted #f8f8f8;
}

div[data-question], input, label {	
	transition: opacity 1s ease-out;
}

div[data-question].fadeOut, input.fadeOut, label.fadeOut {
	opacity: 0;
}

div[data-question] {
	background-size: cover;
}

div[data-question="0"] {
	background-image: url('../../images/question0.png');
}

div[data-question="1"] {
	background-image: url('../../images/question1.png');
}

div[data-question="2"] {
	background-image: url('../../images/question2.png');
}

div[data-question="3"] {
	background-image: url('../../images/question3.png');
}

div[data-question="4"] {
	background-image: url('../../images/question4.png');
}

div[data-question] img {
	opacity: 0;
}

div[data-question]:hover img {
	opacity: 1;
}

#question, #answers, #controls {
	text-align: center;
}

#answers {
	margin-bottom: 1em;
}

#answers label {
	margin-right: .5em;
}