// Colors I like
// background:rgb(220, 230, 235);

input[type="radio"] {
	position: relative;
	margin-right: .25em;
}

input[type="button"] {
	border-radius: 3px;
	border: none;
	padding: .25em .5em;
	box-shadow: 0 1px rgba(0,0,0,.3);
	font-size: 1em;
}

input[type="button"]:focus {
	outline: none;
}

#qbtn {
	background-color: #4FA7BF;
}

#bbtn {
	background-color: #CBDBDF;
}

.quiz-content {
	color: #434343;
	width: 100%;
	margin: 0 auto;
	padding: 1em 0 2em 0;
	border-radius: 6px;
}

div[data-question] {
	font-size: 2em;
	border-bottom: 1px dotted #f8f8f8;
}

div[data-question], input, label {	
	transition: opacity 1s ease-out;
}

div[data-question].fadeOut, input.fadeOut, label.fadeOut {
	opacity: 0;
}

div[data-question] {
	background-size: cover;
}

div[data-question="0"] {
	background-image: url('../../images/system/question0.png');
}

div[data-question="1"] {
	background-image: url('../../images/system/question1.png');
}

div[data-question="2"] {
	background-image: url('../../images/system/question2.png');
}

div[data-question="3"] {
	background-image: url('../../images/system/question3.png');
}

div[data-question="4"] {
	background-image: url('../../images/system/question4.png');
}

.webfont {
	div[data-question="0"] {
		background-image: url('../../images/webfonts/question0.png');
	}

	div[data-question="1"] {
		background-image: url('../../images/webfonts/question1.png');
	}

	div[data-question="2"] {
		background-image: url('../../images/webfonts/question2.png');
	}

	div[data-question="3"] {
		background-image: url('../../images/webfonts/question3.png');
	}

	div[data-question="4"] {
		background-image: url('../../images/webfonts/question4.png');
	}
}

div[data-question] img {
	opacity: 0;
}

div[data-question]:hover img {
	opacity: 1;
}

#question, #answers, #controls {
	text-align: center;
}

#answers {
	margin-bottom: 1em;
}

#answers label {
	margin-right: .5em;
}

.answer-choices {
	// width: 33.333333%;

	// float: left;
	padding: 5px 15px;
}

.answer-choices:last-child {
	margin-right: 0;
}

[checked="checked"]:before {
	position: absolute;
	left: -17px;
	top: -4px;
}

[data-answer="true"][data-choice="true"] {
	background: rgb(47, 175, 47); /* green */
	color: white;
}

[data-answer=""][data-choice="true"] {
	background: red;
	color: white;
}


// [data-answer="true"] [checked="checked"]:before {
// 	content: "c";
// }

// [data-answer=""] [checked="checked"]:before {
// 	content: "x";
// }