<div class="score">
<h2>You're score is:</h2>
<br/>
<p>{{this.score}}</p>
</div>
<div class="nextSteps">
<p><a href="/system-quiz">Replay</a>, <a href="/system-quiz">try the system quiz</a>, or review your answers below.</p>
</div>