<div class="score" style="text-align: center;">
<h1>{{this.scoreCommentary}}</h1>
<h2>You answered {{this.score}} out of {{this.yourChoices.length}} correct.</h2>
</div>
<div class="nextSteps" style="text-align: center;>
<p><a href="/system-quiz">Replay</a>, <a href="/webfont-quiz">try the webfonts quiz</a>, or review your answers below.</p>
</div>