<div class="nextSteps">
	<p>
		Review your answers below, <a href="/Font-Identity-Quiz/{{this.quizType}}-quiz/" class="dotted">replay</a>, or <a href="/Font-Identity-Quiz/" class="dotted">try another quiz</a>.
	</p>
</div>	